@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais adicionais */
body {
  margin: 0;
  font-family: sans-serif; /* Será substituído pela fonte Fredoka */
  overflow-x: hidden; /* Garante que não haja scroll horizontal */
}

